@using Microsoft.AspNet.Identity
    
    @if (Request.IsAuthenticated)
    {
        <h1 id="paginaTitel">Mijn account</h1>
        
        <div class="col-md-4 centraal">
  

            <a href="@Url.Action("Profiel", "Manage")"><img src="~/Images/menu logos/profielLogo.png"></a>
            <h2>Mijn profiel</h2>
        </div>


    <div class="col-md-4 centraal">
    

        <a href="@Url.Action("AccountInstellingen", "Manage")"><img src="~/Images/menu logos/profielSettingsLogo.png"></a>
        <h2>Account instellingen</h2>

    </div>

    <div class="col-md-4 centraal">


        <a href="@Url.Action("AccountInstellingen", "Manage")"><img src="~/Images/menu logos/recensiesLogo.png"></a>
        <h2>Mijn dossiers</h2>

    </div>
    }

    