@model JPP.UI.Web.MVC.Models.User

@if (User.IsInRole("Admin"))
{
    
    <h1 id="paginaTitel">Admin paneel</h1>

    <div class="row">
        <div class="col-md-4 centraal">

            <a href="#"><img src="~/Images/menu logos/loginsLogo.png"></a>
            <h2>Logins (Beta)</h2>
        </div>
        <div class="col-md-4 centraal">

            <a href="@Url.Action("Index", "Gebruiker")"><img src="~/Images/menu logos/gebruikersLogo.png"></a>
            <h2>Gebruikers</h2>
        </div>

        <div class="col-md-4 centraal">

            <a href="@Url.Action("Index", "Roles")"><img src="~/Images/menu logos/rolesLogo.png"></a>
            <h2>Roles</h2>
        </div>

    </div>
    <hr />
    <div class="row">

        <div class="col-md-4 centraal">

            <a href="@Url.Action("Index", "Module")"><img src="~/Images/menu logos/contactpersonenLogo.png"></a>
            <h2>Modules</h2>
        </div>

        <div class="col-md-4 centraal">

            <a href="#"><img src="~/Images/menu logos/contactpersonenLogo.png"></a>
            <h2>Antwoorden</h2>
        </div>
        <div class="col-md-4 centraal">

            <a href="#"><img src="~/Images/menu logos/contactpersonenLogo.png"></a>
            <h2>Comments</h2>
        </div>



    </div>

        }
