@{
    ViewBag.Title = "Over ons";
}

@if (Request.IsAuthenticated)
{
    <h1 id="paginaTitel">Over ons</h1>


}
<div class="col-md-6 centraal">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>



    Info

    <address>
        <strong>Website:</strong>   <a href="#">Leuven</a><br />
        <strong>Website:</strong>   <a href="#">Karuur</a><br />
        <strong>Website:</strong>   <a href="http://www.treecompany.be/">Tree Company</a><br />
        <strong>Website:</strong>   <a href="#">De Ambrassade</a><br />
        <strong>Email:</strong> <a href="mailto:info@JPP-L.be">info@JPP-L.be</a> <br />
        <strong>Contacteer ons:</strong> <a href="#">Invulformulier</a>
    </address>
 </div>
