@{
    ViewBag.Title = "Contact";
}

@if (Request.IsAuthenticated)
{
    <h1 id="paginaTitel">Contact</h1>


}

<div class="col-md-6 centraal">
    <h2>Over ons</h2>
    <h3>Info</h3>


    <address>
        <strong>Website:</strong>   <a href="#">Leuven</a><br />
        <strong>Website:</strong>   <a href="#">Karuur</a><br />
        <strong>Website:</strong>   <a href="http://www.treecompany.be/">Tree Company</a><br />
        <strong>Website:</strong>   <a href="#">De Ambrassade</a><br />
        <strong>Email:</strong> <a href="mailto:info@JPP-L.be">info@JPP-L.be</a> <br />
        <strong>Contacteer ons:</strong> <a href="#">Invulformulier</a>
    </address>
</div>

<div class="col-md-6 centraal">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Blablastraat<br />
        2100 Leuven<br />
        <abbr title="Phone">GSM:</abbr>
        0488/888.888  <br />
        <abbr title="Phone">TEL:</abbr>
        03/33.33.33
    </address>

    <address>
        <strong>Website:</strong>   <a href="http://www.treecompany.be/">treecompany</a><br />
        <strong>Website:</strong>   <a href="#">Leuven</a><br />
        <strong>Email:</strong> <a href="mailto:info@JPP-L.be">sponsor3</a> <br />
        <strong>Contacteer ons:</strong> <a href="#">Invulformulier</a>
    </address>
</div>

