
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div id="homeIconMenu" class="row verborgen">
    <div id="eersteMenuItem" class="col-md-4 centraal">

        <a id="eersteMenuLink" href="@Url.Action("Menu","Home")"><img src="~/Images/homeSpecialMenu icons/iconStart.png"></a>
        <h2>Bedenk</h2>
        <h2>Comment</h2>
        <h2>Like</h2>

        <h4>
            Crëer je eigen pagina, <br>
            of geef mening over een bestaand pagina.
        </h4>

    </div>
    <div id="tweedeMenuItem" class="col-md-4 centraal">

        <a id="tweedeMenuLink" href="@Url.Action("Agenda","Module")"><img src="~/Images/homeSpecialMenu icons/iconFinish.png"></a>
        <h2>Volg op</h2>
        <h4>Wat gebeurt er met de voorstellen die gewonnen hebben.</h4>

    </div>


    <div id="derdeMenuItem" class="col-md-4 centraal">

        <a id="derdeMenuLink" href="@Url.Action("CommingSoon","Module")"><img src="~/Images/homeSpecialMenu icons/iconComing.png"></a>
        <h2>Comming soon</h2>
        <h4>Vind hier de toekomstige projecten.</h4>
    </div>

</div>
<div id="homeTitelHeader">
    <button id="hide">Verberg</button>
    <button id="show">Toon</button>
    <p>
        <span>Populairste pagina's</span>
    </p>

  


</div>


<div id="mainWrapper2">
    <div class="container body-content">
        <div id="body-contentwrapper">
            <div id="homeMid">
                @{ Html.RenderAction("homePartialAntwoorden", "Antwoord");}
            </div>
        </div>
        

  
     



        </div>

</div>

