
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/KeuzePagina.css">

<div class="containerButton">
    <p><a href="@Url.Action("Dossier","Module")" class="ButtonDossier"></a>
    <a href="@Url.Action("Agenda","Module")" class="ButtonAgenda"></a></p>
</div>



