@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>

<p>@Html.ActionLink("Maak nieuwe rol aan", "Create") | @Html.ActionLink("Beheer rollen", "ManageUserRoles")</p>



  

<p>@Html.DisplayFor(model => model.Name)</p> 
 
<br />       

<a href="@Url.Action("Index")"><img src="~/Images/page icons/goBack2.png" /> Ga terug</a>


                
                
                
                
         
    



