body {
}
#DossierModelTitle{
    width:100%;
    color:#0099cc;
    font-family:'Franklin Gothic';
    font-size: 2em;
    margin-left: 15%;
    margin-right:15%;
}

#DossierModelTitle h2{
    text-align:center;
    color:#0099cc;
    font-family:'Franklin Gothic';
    font-size: 30px;

}
