<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.134.216.25</MSDeployServiceURL>
    <DeployIisAppPath>teamnovartis</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>teamnovartis</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="JPP.DAL.EF.EFDbContext" Order="3" Enabled="False">
          <Destination Path="Data Source=10.134.216.25;Initial Catalog=dbteamnovartis;Persist Security Info=True;User ID=dbuserteamnovartis;Password=Onzienbos5" Name="Data Source=10.134.216.25;Initial Catalog=dbteamnovartis;Persist Security Info=True; User ID=dbuserteamnovartis; Password=Onzienbos5" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JPP.DAL.EF.EFDbContext, JPP.DAL" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="JPP.UI.Web.MVC.Models.ApplicationDbContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JPP.UI.Web.MVC.Models.ApplicationDbContext, JPP.UI.Web.MVC" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="dbteamnovartis" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.134.216.25;Initial Catalog=dbteamnovartis;Persist Security Info=True;User ID=dbuserteamnovartis;Password=Onzienbos5" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\dbteamnovartis_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.134.216.25;Initial Catalog=dbteamnovartis;Persist Security Info=True; User ID=dbuserteamnovartis; Password=Onzienbos5" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JPP.DAL.EF.EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=10.134.216.25;Initial Catalog=dbteamnovartis;Persist Security Info=True; User ID=dbuserteamnovartis; Password=Onzienbos5</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JPP.UI.Web.MVC.Models.ApplicationDbContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="JPP.DAL.EF.EFDbContext" />
    <_ConnectionStringsToInsert Include="JPP.UI.Web.MVC.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>