

<h2>Uw account is geactiveerd</h2>
<div>
    <p>
        Dank u voor het confirmeren van uw email. @Html.ActionLink("Klik hier om te inloggen aub.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
