
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px; /* Height of the footer element */
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#logoImage {
    height: 86px;
    float: left;
    clip: rect(0px,200px,80px,0px);
    position: absolute;
}

.linkExtraLogin {
    float: left;
    margin: 1% 6%;
    width: 100%;
}

.footer {
    font-size: 18px;
    padding: 5px 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #222;
    color: white;
    text-align: center;
    font-weight: bold;
}

.footerMenu {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

    .footerMenu li {
        display: inline;
        margin-left: 30px;
    }

#fotoWrapper {
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 50%;
    position: relative;
    background-size: 100% 50%;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);
}

#fotoWrapper2 {
    padding-top: 10%;
    padding-bottom: 10%;
    min-height: 50%;
    position: relative;
}




#videoWrapper {
    background-color: #AD0002;
    height:83%;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    text-align: center;
    position: relative;
}


#mainWrapper {
    min-height: 50%;
    position: relative;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);
}
/**/
#mainWrapper2 {
    min-height: 50%;
    position: relative;
    background-color: white;
    padding-bottom: 10px;
}
#mainWrapper3, #mainWrapper4  {
    min-height: 80%;
    position: relative;
    background-color: white;
    padding-bottom: 10px;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);
}


#mainWrapper3 #container  {
   padding:0;
}
#mainWrapper3 .body-content  {
   padding:0;
}

#youtube {
     position: relative;
      width: 100%; 
      height: 100%; 
      padding-bottom: 60%;
      
}

    #youtube iframe, #youtube object, #youtube embed {
       
       position: absolute; 
       left: 0px; 
       top: 0px; 
       width: 85%; 
       height: 80%;
       border:none;
       margin-left:7%;
    }

     


#extraWrapper {
    min-height: 50%;
    position: relative;
    background-color: lightgray;
    padding: 50px;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);
}

#wrapper4 {
    min-height: 50%;
    position: relative;
    background-color: #d3d3d3;
    padding: 50px;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);
}

#socialFooter {
    font-size: 18px;
    padding: 2% 5px;
    height: 100px;
    width: 100%;
    bottom: 70px;
    left: 0;
    background-color: #FFF;
    color: white;
    text-align: center;
    font-weight: bold;
}

#homePageLayer {
}

#to-top {
    font-size: 16px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 160px;
    padding: 5px;
    border: 2px solid black;
    background: #f7f7f7;
    color: #333;
    text-align: center;
    cursor: pointer;
    display: none;
    font-weight: bold;
}

#specialMenuItem {
    color: turquoise;
}

#homeSlogan {
    color: white;
    font-size: 5em;
    text-align: center;
    text-shadow: 4px 4px black;
    font-family: 'Comic Sans MS';
    font-weight: bold;
}

.centraal {
    text-align: center;
}

.centraal2 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}

    .centraal2 img {
        border: 2px solid black;
    }

#mainContent {
    text-align: center;
}

#headerWrapper {
    background-color: #C70000;
}

#centraleButton {
    left:49%;
    background-image: url("../images/websitePage logos/iconContinue.png");
    background-repeat: no-repeat;
    background-size: 50px;
    padding: 1%;
    cursor: pointer;
    bottom: 0px;
    position: absolute;
    width: 50px;
    text-align: center;
}

#centraleButton2 {
    left:34%;
    background-image: url("../images/websitePage logos/verder.png");
    padding: 1%;
    cursor: pointer;
    bottom: 90px;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    width: 33%;
    text-align: center;
}

#centraleButton2:hover{
    background-image: none;
    background-color: #3C79E3;
}

.eersteMenu {
    height: 70px;
}

.tweedeMenu {
    margin-top: 70px;
    font-size: 18px;
    cursor: pointer;
    background-color: RGBA(0,0,0,0.9);
    color: white;
}

.centraal p {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

#playButton {
    cursor: pointer;
    margin-top: 15%;
    float: none;
    text-align: center;
}

#loginNaam a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.pagination-container {
    text-align: center;
}

#settingsLayout {
    color: blue;
}

#cellFocus {
    font-weight: bold;
 
}

#paginaTitel {
    font-family: 'Century Gothic';
    text-align: center;
    font-size: 45px;
    width: 100%;
    font-weight: bold;
    border: 3px solid #E8500B;
    padding: 1%;
    margin-bottom: 5%;
    background-color: lightgray;
    border-radius: 3%;
    color: #00789A;
}

#spanZwart {
    color: black;
}

#extraInfoTable {
    float: left;
    margin: 1%;
}

#beloningSection {
    border: 1px solid gray;
    padding: 1%;
    margin-bottom: 10px;
    background-color: lightgrey;
    width: 49%;
    float: left;
}

#extraInfoSection {
    border: 1px solid gray;
    padding: 1%;
    margin-bottom: 10px;
    background-color: lightgrey;
    width: 49%;
    float: right;
}

#dossierModule {
    padding: 2%;
    background-color: white;
    float: left;
    width: 100%;
    border: 1px solid gray;
}

#dossierModuleContent {
    height: 50%;
    width: 100%;
}

#dossierModule h4 {
    color: #686868;
    text-align: center;
    font-size: 200%;
    font-weight:bold;
}

#dossierModule h2 {
    font-family: 'Comic Sans MS';
}

#dossierModule p {
    text-align: right;
}

#extrainfoSpan {
    font-weight: bold;
}

#extraInfoParagraaf {
    float: right;
}

#zelfdeGebruikerSpan {
    color: green;
    font-weight: bold;
}

.verborgen {
    display: none;
}

#homeIconMenu {
    color: white;
    height: 60%;
}

#eersteMenuItem:hover, #tweedeMenuItem:hover, #derdeMenuItem:hover {
    font-size: 150%;
}

#eersteMenuItem:hover h2, #tweedeMenuItem:hover h2, #derdeMenuItem:hover h2{
    font-size: 150%;
    font-weight: bold;

}

#eersteMenuItem:hover h4, #tweedeMenuItem:hover h4, #derdeMenuItem:hover h4{
    font-size:100%;
    font-weight: bold;

}

#eersteMenuItem:hover img{

    /*width: 35%;
    height: 35%;*/

}

#tweedeMenuItem:hover img, #derdeMenuItem:hover img{
    /*width: 120%;
    height: 120%;*/

}



#eersteMenuItem {
    float: left;
    width: 35%;
    background-color: #199eb0;
    height: 100%;
    padding: 1%;
    padding-top: 2%;
    cursor: pointer;
        /* HOVER OFF*/
    -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;

}

#tweedeMenuItem {
    float: right;
    width: 65%;
    background-color: #69bd21;
    height: 50%;
    padding: 1%;
    padding-top: 2%;
    box-shadow: inset 10px 0px 50px -7px #000;
    cursor: pointer;
        /* HOVER OFF*/
    -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

#derdeMenuItem {
    float: right;
    width: 65%;
    background-color: #c01e84;
    height: 50%;
    padding: 1%;
    padding-top: 2%;
    box-shadow: inset 10px 10px 50px -7px #000;
    cursor: pointer;
        /* HOVER OFF*/
    -webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

    #derdeMenuItem a {
        text-align: left;
        float: left;
        margin-left: 15%;
    }

#tweedeMenuItem a {
    text-align: left;
    float: right;
    margin-right: 15%;
}

#homeTitelHeader {
    padding: 1%;
    color: white;
    background-color: black;
    height: 70px;
    width: 100%;
}

    #homeTitelHeader button {
        float: left;
        color: black;
    }

    #homeTitelHeader p {
        font-size: 30px;
        text-align: center;
    }

#moduleTitel {
    color: #1A9ADD;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#moduleNaam {
    margin-top: 80px;
    text-align: center;
    font-size: 43px;
}

#centraleVraag {
    text-align: center;
    font-size: 30px;
    width: 60%;
    margin: 1% auto;
    margin-bottom: 1%;
}

#moduleInhoud {
    margin-bottom: 1%;
    float: left;
    margin-left: 15%;
}

#moduleIcon {
    float: left;
    width: 250px;
    height: 250px;
}

#moduleInhoud p {
    font-size: 20px;
    text-align: left;
}

#antwoordlijstWrapper {
    background-color: lightgray;
    width: 80%;
    float: left;
    padding: 1%;
    box-shadow: inset 10px 0px 50px -7px #000;
}

    #antwoordlijstWrapper table {
        background-color: white;
    }

#moduleLeftMenuSection {
    min-width: 20%;
    width: 20%;
    float: left;
    background-color: darkgray;
    height: 866px;
}

#antwoordlijstCreateSection img {
    width: 50px;
    height: 50px;
}

#antwoordlijstCreateSection a {
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

#antwoordWrapper {
    background-color: lightgray;
    width: 100%;
    float: left;
    padding: 1%;
}

#aantalStemmen {
    color: green;
    font-size: 40px;
}

#antwoordInhoud {
    font-size: 30px;
    font-weight: bold;
}

#homeTable{
    padding:15px;
    color:white;
    float:left;
    width:200px;
    height:270px;
    margin-right:2%;
    background:url("../Images/Paars.png");
    margin-bottom:30px;

}
#homeTable h1{
    font-size:18px;
}
#homeTable img{
    height:100px;
    width:100px;
    margin-left:20%;
}
#homeMidContent{
    margin-left:5%;
    width:100%;
}

#likes{
    cursor:pointer;
    padding-top:40%;
    width:100%;
    height:100%;
    font-weight:bold;
    font-size:20px;
    color:lightgreen;
    display:none;
    background-color:RGBA(0,0,0,0.6);
    text-align:center;

}

#homeTable:hover{
     padding:0;
}
#homeTable:hover #likes {
    display:block;
    z-index:2;
    
}
#homeTable:hover h1  {
    display:none;

}
#homeTable:hover img {
    display:none;

}

#extraInfoWrapper{
    width:100%;
    float:left;
}